/* App.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  height: 100vh; /* Prendre toute la hauteur de la vue */

  flex-direction: row;
  /* align-items: flex-start; */
  justify-content: center;
  position: relative; /* Nécessaire pour le positionnement de l'overlay */
  background-color: #f9f9f9; /* Couleur de fond */
}

.sidebar {
  /* flex: 0; */
  width: 20%; /* Largeur de la barre latérale */
  background-color: #2c3e50; /* Couleur de fond de la barre latérale */
  color: white; /* Couleur du texte */
  padding: 20px; /* Espacement interne */
}

.main-content {
  flex: 1; /* Prendre tout l'espace restant */
  width: 80%;
  padding: 20px; /* Espacement interne */
  background-color: #ecf0f1; /* Couleur de fond du contenu principal */
}

.sidebar ul {
  list-style-type: none; /* Supprimer les puces */
  padding: 0; /* Supprimer le padding */
}

.sidebar li {
  margin: 15px 0; /* Espacement entre les éléments de la liste */
}

.sidebar a {
  color: white; /* Couleur des liens */
  text-decoration: none; /* Pas de soulignement */
}

.sidebar a:hover {
  text-decoration: underline; /* Soulignement au survol */
}
